@charset "utf-8";
@import url("fontawesome-free/css/all.css");
@import url("normalize.css");

*{
    margin: 0px;padding: 0px; 1outline: 1px dotted red;font-family: Archivo,sans-serif;
}

a:hover {
    color: rgb(126, 153, 150); text-decoration: none;
  }
.containermain{
    width: 75%; height: 1290px; margin: auto;
}
.container1{
    height: 91px;
}
.container2{
    height: 1050px; position: relative; 
}
.contbackground{
    object-fit: cover; width: 1920px; height: 820px; position: absolute; vertical-align: top;
}
.container3{
    height: 230px;
}
.container4{
    height: 150px; background-color: #333333; float: bottom;
}
.logocont{
    height: 91px; margin-left: 300px; display: inline-block; vertical-align: top;
}
.logocont1{
    width: 151px; height: 91px;
}
.logotext{
    width: 250px; height: 40px;
}
.navcont{
    height: 91px; margin-left: 440px; width: 330px; display: inline-block; vertical-align: top;
}
.navbut{
    width: 75.6px; height: 80px; display: inline-block; vertical-align: top; text-align: center; line-height: 91px; margin: auto;
}
.navbutB{
    width: 86px; height: 80px; display: inline-block; vertical-align: top; text-align: center; line-height: 91px; margin: auto;
}
.login{ height: 91px; width: 140px; display: inline-block; margin-left: 10px;

}
.btn1 {
  background-color: rgb(255, 255, 255);
  border: none;
  color: rgb(17, 158, 240);
  padding: 12px 12px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  margin-top: 22px;
}

.logbut{
  border-radius: 25px; width: 50px; height: 50px; border: 2px; background-color: rgb(138, 170, 159); color: antiquewhite; margin: auto; margin-top: 15px; box-shadow: #333333; display: inline-block; vertical-align: top;
}
.profpic{
  object-fit: cover; width: 50px; height: 50px;
}
.weluser{
  text-align: center; font-size: 15px;
}
.head1{
  width: 49.5%; height: 100%; margin: auto; display: inline-block; vertical-align: top; background-color: rgb(250, 255, 254); 
}
.profilepic1{
  margin: 30px; vertical-align: top;
}
.profilepic{
  width: 200px; height: 200px;
}
.namedetails{
  vertical-align: top; text-align: center; 
}
.nameh2{
  font-size: 40px;
}
.tabmar{
  margin-top: 30px;
}
.colorloc{
  color: #1c87c9;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #fafafa;
  padding: 12px;
}
.tab button:hover {
  background-color: #ddd;
}
.tab button.active {
  background-color: #ccc;
}
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  height: 270px
}
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #c8e6dd;
}
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}
.badge {
  position: absolute;
  top: 28px;
  left: 1010px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: red;
  color: white;
}
textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}
.feedback{
   text-align: center;
}
.heading {
  font-size: 25px;
  margin-right: 25px;
}
.feedbod{
  max-width: 700px; /* Max width */
  padding: 20px;
}

.fa {
  font-size: 25px;
}

.checked {
  color: orange;
}

/* Three column layout */
.side {
  float: left;
  width: 15%;
  margin-top:10px;
}

.middle {
  margin-top:10px;
  float: left;
  width: 70%;
}

/* Place text to the right */
.right {
  text-align: right;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The bar container */
.bar-container {
  width: 80%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

/* Individual bars */
.bar-5 {width: 60%; height: 18px; background-color: #04AA6D;}
.bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 15%; height: 18px; background-color: #f44336;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
  .side, .middle {
    width: 80%;
  }
  .right {
    display: none;
  }
}
.head2{
  width: 100%; height: 125px; text-align: center; line-height: 125px; font-size: 70px; color: rgb(255, 255, 255);
}
.search{
  width: 600px; height: 27px; border-top-left-radius: 15px; border: 0px; border-bottom-left-radius: 15px; display: inline-block; vertical-align: top; 
}
.searchalign{
  width: 420px; height: 27px; border-top-left-radius: 15px; border: 0px; border-bottom-left-radius: 15px; display: inline-block; vertical-align: top; margin-left: 200px;
}
.searicon{
  display: inline-block; background-color: rgb(177, 199, 191); border: 0px; height: 27px; width: 30px; line-height: 27px; border-top-right-radius: 15px; border-bottom-right-radius: 15px; margin-left: -5px; color: rgb(238, 238, 238);
}
.midcont{
  width: 50%; height: 100%; margin: auto; display: inline-block
}

.boat{
  width: 240px; height: 370px; margin-left: 10px; display: inline-block; text-align: center; vertical-align: top;
}
.boath{
  font-size: 22px; text-align: center; color: #ffffff; text-shadow: 2px 2px 4px #000000;
}
.boatpic{
  border-radius: 15px;
}
.weather{
  width: 640px; height: 370px; display: inline-block; margin-left: 155px;
}
.weh{
  font-size: 32px; text-align: center; color: #e2f3f5; text-shadow: 2px 2px 4px #000000;
}
.days{
  vertical-align: top; font-size: 22px; text-align: center; margin-top: 10px; color: #f1f1f1;
}
.date{
  font-size: 55px; margin-top: 20px; color: #646464;
}
.booked{
  font-size: 15px; font-family: Arial, Helvetica, sans-serif;
}
.mon{
  width: 87px; height: 240px; display: inline-block; border-top-left-radius: 15px;border-bottom-left-radius: 15px; background-color: rgb(206, 233, 230);
}
.tue{
  width: 87px; height: 240px; display: inline-block; background-color: rgb(172, 223, 218);
}
.wed{
  width: 87px; height: 240px; display: inline-block; background-color: rgb(118, 215, 207);
}
.thu{
  width: 87px; height: 240px; display: inline-block; background-color: rgb(118, 215, 207);
}
.fri{
  width: 87px; height: 240px; display: inline-block; background-color: rgb(116, 187, 182);
}
.sat{
  width: 87px; height: 240px; display: inline-block; background-color: rgb(106, 170, 164);
}
.sun{
  width: 87px; height: 240px; display: inline-block; border-top-right-radius: 15px; border-bottom-right-radius: 15px;; background-color: rgb(108, 145, 137);
}
.about1{
  width: 1300px; height: 200px; background-color:  rgb(0, 0, 0, 0.6); margin: auto; text-align: center; color: #f1f1f1; border-radius: 20px;
}
.aboutp{
  width: 755px; height: 100px; margin: auto; font-size: 17px; margin-top: 20px;
}
.featloc{
  width: 220px; height: 35px; margin: auto; text-align: center;
}
.loc{
  width: 1250px; height: 190px; margin: auto;
}
.loc1{
  height: 190px; width: 309px; vertical-align: top; display: inline-block;
}
.locpic{
  width: 280px; height: 150px; margin-left: auto;
  margin-right: auto; box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19); display: block;
}
.locp{
  text-align: center; margin-top: 10px;
}
.address1{
  width: 400px; height: 150px; display: inline-block; vertical-align: top; color: #f1f1f1; text-align: center;
}
.addressline{
  width: 200px; height: 70px; text-align: center; margin: auto; margin-top: 40px;
}
.address2{
  width: 57.822%; height: 150px; display: inline-block;
}
.follow{
  color: #f1f1f1; text-align: center; font-size: 17px; margin-top: 10px;
}
.address3{
  width: 400px; height: 150px; float: right;
}
.socialcont{
  width: 159px; height: 50px; margin: auto;
}
.socialcont1{
  width: 30px; height: 30px; display: inline-block; 

}
.socialcont2{
  width: 30px; height: 30px; display: inline-block; margin-left: 30px; margin-right: 30px;

}
.cpr{
  width: 400px; height: 30px; color: #ffffff; margin: auto; font-size: 12px; margin-top: 20px; text-align: center;
}

form {
  font-family: Arial;
}

.contnews {
  padding: 5px;
}


input[type=text], input[type=submit] {
  width: 70%;
  height: 25px;
  padding: 5px;
  margin: 2px 0;
  display: inline-block;
  
}

input[type=checkbox] {
  margin-top: 5px;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
}
.hover-underline-animation {
    position: relative;
    color: #474747;
    text-decoration: none;
  }
  .add1 {
    text-decoration: none; color: #f1f1f1;
  }
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: -5px;
    left: 0;
    background-color: #9adbd8;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .zoom {
    transition: transform .2s;
    width: 75.6px;
    height: 80px;
    margin: auto;
  }
  
  .zoom:hover {
    transform: scale(1.1);
  }
  .zoom1 {
    transition: transform .2s;
    width: 86px;
    height: 80px;
    margin: auto;
  }
  
  .zoom1:hover {
    transform: scale(1.1);
  }
  .zoom2 {
    transition: transform .2s;
    width: 100px;
    height: 30px;
    margin-left: 18px; margin-top: 30px;
  }
  
  .zoom2:hover {
    transform: scale(1.1);
  }
  .zoom3 {
    transition: transform .2s;
    width: 87px; height: 240px;
  }
  
  .zoom3:hover {
    transform: scale(1.05);
  }
  .zoom4 {
    transition: transform .2s;
  }
  
  .zoom4:hover {
    transform: scale(1.05);
  }
  .box {
    transition: box-shadow .3s;
    width: 280px; height: 150px;
    margin-left: auto;
    margin-right: auto;
    
  }
  .box:hover {
    box-shadow: 0 10px 10px rgba(58, 141, 167, 0.534); 
  }
  .popbr{
    width: 100%; border: .5px solid black;
  }

  .openButton {
    border: none;
    border-radius: 5px;
    background-color: #1c87c9;
    color: white;
    padding: 14px 20px;
    cursor: pointer;
    position: fixed;
  }
  .loginPopup {
    position: relative;
    text-align: center;
    width: 100%;
  }
  .formPopup {
    display: none;
    position: fixed;
    left: 50%;
    top: 5%;
    transform: translate(-50%, 5%);
    border: 1px solid #999999;
    z-index: 9;
    border-radius: 10px;
  }
  .formContainer {
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
  }
  .formContainer input[type=text],
  .formContainer input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 20px 0;
    border: none;
    background: #eee;
  }
  .formContainer input[type=text]:focus,
  .formContainer input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  .formContainer .btn {
    padding: 12px 20px;
    border: none;
    background-color: #8ebf42;
    color: #fff;
    cursor: pointer;
    width: 100%;
    margin-bottom: 15px;
    opacity: 0.8;
  }
  .formContainer .cancel {
    background-color: #cc0000;
  }
  .formContainer .btn:hover,
  .openButton:hover {
    opacity: 1;
  }
  .overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;}
    }